In [2]:
# importing the required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# reading the csv file

df = pd.read_csv('Data for Q4-5.csv')

In [4]:
# listing the unique values for given column

df['NObeyesdad'].unique()

array(['Normal_Weight', 'Overweight_Level_I', 'Overweight_Level_II',
       'Obesity_Type_I', 'Insufficient_Weight', 'Obesity_Type_II',
       'Obesity_Type_III'], dtype=object)

There are 7 classes of this column.

In [5]:
# Drop Nobeyesdad with insufficient weight value

df_filtered = df.drop(df[df['NObeyesdad'] == 'Insufficient_Weight'].index)
df_filtered.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [6]:
# # grouping 
class1 = ['Normal_Weight', 'Overweight_Level_I', 'Overweight_Level_II']
class2 = [ 'Obesity_Type_I', 'Obesity_Type_II', 'Obesity_Type_III']


df_filtered.replace(to_replace =class1, 
                            value ="class a", inplace=True)
df_filtered.replace(to_replace =class2, 
                            value ="class b", inplace=True)
df_filtered

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,class a
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,class a
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,class a
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,class a
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,class a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,class b
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,class b
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,class b
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,class b
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,class b

In [7]:
# lets encode the data for gender, family_history_with_overweight, CAEC, smoke, MTRANS
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x = df_filtered

x['Gender'] = le.fit_transform(x['Gender'])
x.iloc[:, 4] = le.fit_transform(x.iloc[:, 4])
x.iloc[:, 5] = le.fit_transform(x.iloc[:, 5])
x.iloc[:, 8] = le.fit_transform(x.iloc[:, 8])
x.iloc[:, 9] = le.fit_transform(x.iloc[:, 9])
x.iloc[:, 11] = le.fit_transform(x.iloc[:, 11])
x.iloc[:, 14] = le.fit_transform(x.iloc[:, 14])
x.iloc[:, 15] = le.fit_transform(x.iloc[:, 15])
x.iloc[:, 16] = le.fit_transform(x.iloc[:, 16])
x

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21.000000,1.620000,64.000000,1,0,2.0,3.0,2,0,2.000000,0,0.000000,1.000000,3,3,0
1,0,21.000000,1.520000,56.000000,1,0,3.0,3.0,2,1,3.000000,1,3.000000,0.000000,2,3,0
2,1,23.000000,1.800000,77.000000,1,0,2.0,3.0,2,0,2.000000,0,2.000000,1.000000,1,3,0
3,1,27.000000,1.800000,87.000000,0,0,3.0,3.0,2,0,2.000000,0,2.000000,0.000000,1,4,0
4,1,22.000000,1.780000,89.800000,0,0,2.0,1.0,2,0,2.000000,0,0.000000,0.000000,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20.976842,1.710730,131.408528,1,1,3.0,3.0,2,0,1.728139,0,1.676269,0.906247,2,3,1
2107,0,21.982942,1.748584,133.742943,1,1,3.0,3.0,2,0,2.005130,0,1.341390,0.599270,2,3,1
2108,0,22.524036,1.752206,133.689352,1,1,3.0,3.0,2,0,2.054193,0,1.414209,0.646288,2,3,1
2109,0,24.361936,1.739450,133.346641,1,1,3.0,3.0,2,0,2.852339,0,1.139107,0.586035,2,3,1
2110,0,23.664709,1.738836,133.472641,1,1,3.0,3.0,2,0,2.863513,0,1.026452,0.714137,2,3,1

In [8]:
y=x['NObeyesdad']
x = x.iloc[:,:-1]
x

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,0,21.000000,1.620000,64.000000,1,0,2.0,3.0,2,0,2.000000,0,0.000000,1.000000,3,3
1,0,21.000000,1.520000,56.000000,1,0,3.0,3.0,2,1,3.000000,1,3.000000,0.000000,2,3
2,1,23.000000,1.800000,77.000000,1,0,2.0,3.0,2,0,2.000000,0,2.000000,1.000000,1,3
3,1,27.000000,1.800000,87.000000,0,0,3.0,3.0,2,0,2.000000,0,2.000000,0.000000,1,4
4,1,22.000000,1.780000,89.800000,0,0,2.0,1.0,2,0,2.000000,0,0.000000,0.000000,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20.976842,1.710730,131.408528,1,1,3.0,3.0,2,0,1.728139,0,1.676269,0.906247,2,3
2107,0,21.982942,1.748584,133.742943,1,1,3.0,3.0,2,0,2.005130,0,1.341390,0.599270,2,3
2108,0,22.524036,1.752206,133.689352,1,1,3.0,3.0,2,0,2.054193,0,1.414209,0.646288,2,3
2109,0,24.361936,1.739450,133.346641,1,1,3.0,3.0,2,0,2.852339,0,1.139107,0.586035,2,3
2110,0,23.664709,1.738836,133.472641,1,1,3.0,3.0,2,0,2.863513,0,1.026452,0.714137,2,3

In [10]:
print("actual result")
print(y)

actual result
0       0
1       0
2       0
3       0
4       0
       ..
2106    1
2107    1
2108    1
2109    1
2110    1
Name: NObeyesdad, Length: 1839, dtype: int64

In [13]:
from sklearn.cluster import KMeans
from sklearn import metrics
model = KMeans(n_clusters=2, init='k-means++', random_state=30)
y_pred = model.fit_predict(x)

In [14]:
# finding the accuracy
print("Accuracy:",metrics.rand_score(y, y_pred) *100)

#hence model shows 98% accuracy in test data
from sklearn.metrics import classification_report
print(classification_report(y,y_pred))

Accuracy: 78.92477164755175
              precision    recall  f1-score   support

           0       0.03      0.03      0.03       867
           1       0.19      0.20      0.19       972

    accuracy                           0.12      1839
   macro avg       0.11      0.11      0.11      1839
weighted avg       0.11      0.12      0.12      1839

# using mean shift clustering 
This clustering approach is slightly different than Kmeans approach since the number of clusters will be determined with respect to data rather than declaring by onself. KMeans clustering depends on assumption but in case of mean shift the data points are assigned based upon the data points density.

In [16]:
from sklearn.cluster import MeanShift

ms = MeanShift()
ms.fit(x)
labels = ms.labels_

print(labels)

print(np.unique(labels))

[0 0 0 ... 1 1 1]
[0 1]

In [17]:
# Finding the accuracy
# finding the accuracy
print("Accuracy:",metrics.rand_score(y, labels) *100)

#hence model shows 98% accuracy in test data
from sklearn.metrics import classification_report
print(classification_report(y,labels))

Accuracy: 78.75945021452142
              precision    recall  f1-score   support

           0       0.85      0.90      0.88       867
           1       0.91      0.86      0.88       972

    accuracy                           0.88      1839
   macro avg       0.88      0.88      0.88      1839
weighted avg       0.88      0.88      0.88      1839

# Generalisibility of the model

For generalisibility the classes are hard coded to make labels. Later using the unsupervised techniques the labels are predicted for accuracy. Different evaluation metrics are taken care of such as recall, precision, f1 score.

# About Evaluation
Among different metrics f1 score can be used for better evaluation along with accuracy. The Mean shift seems to perform better and also labels are not required to declared before hand.

# Result
Among these two models as  f1 score and other metrics are better than that of Kmeans clustering, mean shift seems to have better promising result